[Unit]
Description=Uke Fedora development shell over USB CDC ACM
Requires=uke-cdc-acm.service
After=uke-cdc-acm.service
ConditionKernelCommandLine=senemos.debug=cdc-acm

[Service]
ExecStartPre=/usr/bin/uke-boot-status --cdc --require-tty --wait 15
ExecStart=-/usr/bin/bash --noprofile --norc -i
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/ttyGS0
TTYReset=yes
TTYVHangup=yes
Environment=TERM=vt100
Restart=always
RestartSec=3
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
